input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	padding: 3px;
	color: $color__text-main;
	border: 1px solid #ccc;
	border-radius: 3px;
}

textarea {
	width: 100%;
}

select {
	border: 1px solid #ccc;
}
