
// Center block
@mixin center-block {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix
@mixin clearfix() {
	&:after {
		clear: both;
		content: "";
		display: table;
		table-layout: fixed;
	}
}
